__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.pyd
*.dll
*.dylib
*.o
*.a
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/
*.log
.env
.venv
venv/
mitd_log.txt
